<div class="header">
    <h3>ASP.NET Core Hangfire Integration</h3>
</div>
<div class="jumbotron">
    <h2>PI Calculator</h2>
    <p>Intergrating Hangfire with a ASP.NET Core 1.1 for processing background and long-running tasks.</p>
    <hr/>
    <p>Enter the number of <strong>Digits</strong> to calculate and the number of <strong>Iterations</strong> for accuracy (higher the number the more accurate it will be and the longer it will take).</p>
    <form class="form-inline">
        <div class="form-group">
            <label class="sr-only" for="digits">Digits</label>
            <input type="number" class="form-control" id="digits" placeholder="Digits">
        </div>
        <div class="form-group">
            <label class="sr-only" for="iterations">Iterations</label>
            <input type="number" class="form-control" id="iterations" placeholder="Iterations">
        </div>
        <span id="queue-job" class="btn btn-info">Queue Job</span><br>
        <small class="text-danger">Max 32 Digits - Anything less than 1 or greater than 32 will be ignored.</small><br>
        <small class="text-danger">Max 50,000 Iterations - Anything less than 1 or greater than 50,000 will be ignored.</small>
    </form>
</div>

<!--Jobs-->
<div>
    <div class="pull-right">
        <a href="/Hangfire" class="btn btn-warning" target="_blank">See Hangfire Dashboard</a>
        <span id="refresh" class="btn btn-primary">Refresh</span>
    </div>
    <h3>Jobs</h3>
</div>

<table class="table table-striped clear">
    <thead>
        <tr>
            <th>Id</th>
            <th>Digits</th>
            <th>Iterations</th>
            <th>Result</th>
            <th>Status</th>
            <th>Date</th>
            <th>Start Time</th>
            <th class="text-right">Duration (ms)</th>
        </tr>
    </thead>
    <tbody id="jobs"></tbody>
</table>

<!--GitHub Ribbon-->
<a href="https://github.com/gonzigonz/HangfireCore-Example" target="_blank">
    <img style="position: absolute; top: 0; right: 0; border: 0;" 
        src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" 
        alt="Fork me on GitHub" 
        data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
    </a>