<div class="header">
    <h3>ASP.NET Core Hangfire Integration</h3>
</div>
<div class="jumbotron">
    <h2>PI Calculator</h2>
    <p>A simple example of intergrating Hangfire with a new ASP.NET Core 1.1 application!</p>
    <hr/>
    <p>Enter the number of <strong>Digits</strong> to calculate and the number of <strong>Iterations</strong> for accuracy (higher the number the more accurate it will be and the longer it will take).</p>
    <form class="form-inline">
        <div class="form-group">
            <label class="sr-only" for="digits">Digits</label>
            <input type="number" class="form-control" id="digits" placeholder="Digits">
        </div>
        <div class="form-group">
            <label class="sr-only" for="iterations">Iterations</label>
            <input type="number" class="form-control" id="iterations" placeholder="Iterations">
        </div>
        <span id="queue-job" class="btn btn-warning">Queue Job</span><br>
        <small class="text-success">Max 32 Digits - Anything less than 1 or greater than 32 will be ignored.</small><br>
        <small class="text-success">Max 100,000 Iterations - Anything less than 1 or greater than 100,000 will be ignored.</small>
    </form>
</div>

<!--Jobs-->
<div>
    <span id="refresh" class="btn btn-info pull-right">Refresh</span>
    <h3>Jobs</h3>
</div>

<table class="table table-striped clear">
    <thead>
        <tr>
            <th>Id</th>
            <th>Digits</th>
            <th>Iterations</th>
            <th>Result</th>
            <th>Status</th>
            <th>Date</th>
            <th>Start Time</th>
            <th class="text-right">Duration (ms)</th>
        </tr>
    </thead>
    <tbody id="jobs"></tbody>
</table>